<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TP4</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productos">
                <span class="bi bi-box-seam-fill" aria-hidden="true"></span> Inventario API
            </NavLink>
        </div>
    </nav>
</div>
